{% set currentQuery = app.request.query.all %}
<form class="form-search" action="" method="get">
    <div class="input-append">
        {% if currentQuery['f'] is defined %}
            <input type="text" class="span2 search-query" name="f" value="{{ currentQuery['f'] }}">
        {% else %}
            <input type="text" class="span2 search-query" name="f">
        {% endif %}
        <button type="submit" class="btn"><i class="icon-search"></i>{{ 'action.search'|trans }}</button>
    </div>
</form>