{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentQuery = app.request.query.all %}
<form class="form-search" action="{{ path(currentRoute) }}" method="get">
    <div class="input-group">
        {% if currentQuery['f'] is defined %}
            <input type="search" class="form-control" name="f" value="{{ currentQuery['f'] }}">
        {% else %}
            <input type="search" class="form-control" name="f">
        {% endif %}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span> {{ 'action.search'|trans }}
          </button>
        </span>
    </div>
</form>